@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-slate-200
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.glow-text {
  transition: text-shadow 0.3s ease;
}

.glow-text:hover {
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.8), 0 0 20px rgba(0, 255, 255, 0.6);
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@font-face {
  font-family: 'Cambria';
  src: url('/path/to/Cambria.woff2') format('woff2');
}

.font-cambria {
  font-family: 'Cambria', serif;
}


.welcome-heading {
  font-size: 2.5rem; /* Increase size */
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  color: #fff; /* Text color */
  background: linear-gradient(90deg, #4f46e5, #6ee7b7); /* Gradient background */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Text fill for gradient effect */
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition */
  padding: 10px 0; /* Padding for better appearance */
}

.welcome-heading:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
  color: #fbbf24; /* Change color on hover */
}
